@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff") format("woff"),
  url("../fonts/cuprum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff") format("woff"),
  url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff") format("woff"),
  url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff") format("woff"),
  url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"),
  url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"),
  url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.header-wrapper-container {
  position: relative;
}

.footer-wrapper-container {
  position: relative;
}

.user-navigation {
  background-color: #293449;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 10px;
  width: 220px;
  height: 47px;
  padding-left: 55px;
  padding-top: 13px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.user-navigation a {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
}

.search-form {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 270px;
  margin-left: 220px;
  background-color: #293449;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  background-image: url("../image/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search-form:active::before,
.search-form:focus::before {
  opacity: 0;
}

.search-input {
  width: 100%;
  padding-left: 49px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
  background-color: #293449;
}

.search-input::placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-input::-moz-placeholder {
  color: #ffffff;
}

.search-input:-moz-placeholder {
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
  background-image: url("../image/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.search-input:active,
.search-input:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../image/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.bookmarks-link {
  position: relative;
  width: 145px;
  padding-left: 40px;
  padding-right: 20px;
}

.bookmarks-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 14px;
  height: 16px;
  background-image: url("../image/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-link:hover::before,
.bookmarks-link:focus::before {
  opacity: 1;
}

.bookmarks-link:active::before {
  opacity: 0.5;
}

.basket-link {
  position: relative;
  width: 148px;
  padding-left: 47px;
  padding-right: 17px;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 15px;
  height: 15px;
  background-image: url("../image/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket-link:hover::before,
.basket-link:focus::before {
  opacity: 1;
}

.basket-link:active::before {
  opacity: 0.5;
}

.basket-link-catalog {
  background-color: #ee3643;
}

.bookmarks-link:hover,
.bookmarks-link:focus,
.basket-link:hover,
.basket-link:focus {
  background-color: #212a3a;
}

.bookmarks-link:active,
.basket-link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.bookmarks-link-red,
.basket-link-red {
  background-color: #ee3643;
}

.bookmarks-link-red:hover,
.bookmarks-link-red:focus,
.basket-link-red:hover,
.basket-link-red:focus {
  background-color: #ee3643;
}

.bookmarks-link-red:active,
.basket-link-red:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #ee3643;
}

.green-button {
  width: 150px;
  margin-left: -4px;
  padding-left: 21px;
  background-color: #63a63e;
}

.green-button:hover,
.green-button:focus {
  background-color: #5fbb2d;
}

.green-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.contacts-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 25px;
}

.contacts-navigation p {
  margin-top: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  text-align: center;
}

.main-title {
  width: 197px;
  margin-top: 0;
  margin-left: 53px;
  margin-right: 4px;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
  text-align: left;
}

.index-contacts-list {
  width: 270px;
}

.index-contacts-list a {
  position: relative;
  display: block;
  width: auto;
  margin-bottom: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 71px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;
  text-align: left;
  border: 3px solid #ffffff;
  border-radius: 3px;
}

.contacts-list {
  width: 278px;
}

.contacts-list a {
  position: relative;
  display: block;
  width: auto;
  margin-bottom: 5px;
  margin-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 71px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;
  text-align: left;
  border: 3px solid #ffffff;
  border-radius: 3px;
}

.contacts-list a::before,
.index-contacts-list a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../image/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts-list p {
  margin-left: 12px;
}

.user-button {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 9px;
  list-style: none;
}

.enter-user-button {
  position: relative;
  width: 121px;
  margin-right: 10px;
  padding-left: 47px;
  padding-right: 27px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

.registration-user-button {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

.enter-user-button:hover,
.enter-user-button:focus,
.registration-user-button:hover,
.registration-user-button:focus {
  color: #ee3643;
}

.enter-user-button:active,
.registration-user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.enter-user-button::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../image/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.enter-user-button:hover::before,
.enter-user-button:focus::before{
  background-image: url("../image/icon-login-black.svg");
}

.enter-user-button:active::before {
  background-image: url("../image/icon-login.svg")
}

.user-page {
  display: flex;
  flex-direction: column;
}

.user-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 299px;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 13px;
  padding-right: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

.user-input {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.user-input:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile {
  width: 20px;
  height: 18px;
  margin-right: 14px;
}

.user-profile:hover path,
.user-profile:focus path {
  fill: #000000;
}

.user-profile:active path {
  fill: #c5c5c5;
}

.user-exit {
  width: 20px;
  height: 17px;
  margin-top: 2px;
  margin-left: 35px;
}

.user-exit:hover path,
.user-exit:focus path {
  fill: #000000;;
}

.user-exit:active path {
  fill: #c5c5c5;
}

.user-page-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 239px;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.user-page-link li:first-of-type {
  width: 109px;
  padding-left: 17px;
  padding-right: 7px;
  list-style: none;
}

.user-page-link li:last-of-type {
  width: 130px;
}

.user-page-link a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-align: left;
  border-bottom: 1px solid #000000;
}

.user-page-link a:hover,
.user-page-link a:focus {
  color: #ee3643;
	border-bottom: 1px solid #ee3643;
}

.user-page-link a:active {
  color: rgba(50, 66, 92, 0.3);
	border-bottom: 1px solid rgba(50, 66, 92, 0.3);
}

.site-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation-link {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 22px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #ffffff;
  background-color: #293449;
}

.site-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.nav-index {
  padding-left: 52px;
  padding-right: 32px;
}

.nav-company {
  padding-left: 33px;
  padding-right: 29px;
}

.nav-catalog {
  padding-left: 30px;
  padding-right: 30px;
}

.nav-news {
  padding-left: 30px;
  padding-right: 29px;
}

.nav-promo {
  padding-left: 29px;
  padding-right: 31px;
}

.nav-delivery {
  padding-left: 31px;
  padding-right: 32px;
}

.nav-contacts {
  padding-left: 33px;
  padding-right: 49px;
}

.special-index-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
  background-color: #ffffff;
}

.upper-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 22px;
}

.lower-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lower-container-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.special-index-catalog-list {
  display: block;
  width: 300px;
  padding-left: 24px;
  padding-right: 43px;
  padding-bottom: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}

.lower-container .special-index-catalog-list {
  padding-bottom: 21px;
  margin-bottom: 22px;
}

.special-index-catalog-list:first-of-type {
  position: relative;
  background-image: url("../image/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 44px 65px;
  background-position: 213px 31px;
  background-color: #ffbf47;
}

.special-index-catalog-list:first-of-type .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.special-index-catalog-list:first-of-type .flag-new {
  background-image: url("../image/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.special-index-catalog-list:nth-of-type(2) {
  background-image: url("../image/icon-2.svg");
  background-repeat: no-repeat;
  background-size: 75px 61px;
  background-position: 197px 33px;
  background-color: #3bbce3;
}

.special-index-catalog-list:nth-of-type(3) {
  background-image: url("../image/icon-3.svg");
  background-repeat: no-repeat;
  background-size: 78px 62px;
  background-position: 191px 31px;
  background-color: #dc91d8;
}

.lower-container-item .special-index-catalog-list:nth-of-type(1) {
  background-image: url("../image/icon-4.svg");
  background-repeat: no-repeat;
  background-size: 59px 72px;
  background-position: 196px 26px;
  background-color: #8ed78f;
}

.lower-container-item .special-index-catalog-list:nth-of-type(2) {
  background-image: url("../image/icon-5.svg");
  background-repeat: no-repeat;
  background-size: 78px 63px;
  background-position: 191px 32px;
  background-color: #ffc047;
}

.special-index-catalog-list a {
  display: inline-block;
  vertical-align: baseline;
  width: 135px;
  margin-top: 11px;
  padding-top: 11px;
  padding-bottom: 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.special-index-catalog-list a:hover,
.special-index-catalog-list a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.special-index-catalog-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.special-index-catalog-list p {
  margin: 0;
  margin-top: 20px;
}

.slider {
  position: relative;
  display: block;
  width: 620px;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 20px;
  color: #ffffff;
}

.icon-left {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.icon-right {
  position: absolute;
  top: 114px;
  right: 20px;
  width: 22px;
  height: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.drills p,
.perforators p {
  margin: 0;
  margin-bottom: 2px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
}

.drills .under-title,
.perforators .under-title {
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.slider a {
  display: inline-block;
  vertical-align: baseline;
  width: 195px;
  margin-top: 20px;
  padding-left: 3px;
  padding-top: 11px;
  padding-bottom: 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
}

.slider a:hover,
.slider a:focus {
  background-color: #ca2c37;
}

.slider a:active {
  background-color:#ba2732;
}

.drills {
  display: block;
  background-image: url("../image/drills.jpg");
  background-repeat: no-repeat;
  background-size: 620px 266px;
  background-color: #9c9389;
}

.perforators {
  display: none;
  background-image: url("../image/perforators.jpg");
  background-repeat: no-repeat;
  background-size: 620px 266px;
  background-color: #9c9389;
}

.perforators-show {
  display: block;
}

.drills-none {
  display: none;
}

.slider-controls i {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .slider-active::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.slider-container {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 213px;
  left: 292px;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 50;
}

.popular-goods-header,
.popular-manufacturers-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;;
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: #f9f5f0;
}

.popular-manufacturers-header {
  margin-top: 3px;
  margin-bottom: 22px;
}

.popular-goods-header h2,
.popular-manufacturers-header h2 {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 28px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  text-align: left;
}

.popular-goods-header a,
.popular-manufacturers-header a {
  display: inline-block;
  vertical-align: baseline;
  width: 253px;
  margin: 0;
  margin-right: 24px;
  padding-top: 9px;
  padding-bottom: 11px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-goods-header a:hover,
.popular-manufacturers-header a:hover,
.popular-goods-header a:focus,
.popular-manufacturers-header a:focus {
  background-color: #ca2c37;
}

.popular-goods-header a:active,
.popular-manufacturers-header a:active {
  background-color: #ba2732;
}

.index-catalog {
  display: flex;
  flex-wrap: wrap;
}

.index-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  margin-top: 22px;
  padding: 0;
  list-style: none;
}

.catalog-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.index-catalog-item,
.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 220px;
  margin-right: 16px;
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n):not(.index-catalog-item) {
  margin-right: 0;
}

.index-catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-list {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .flag {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background-image: url("../image/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item .flag-show {
  display: block;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.buy-button,
.bookmarks-button {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 10px 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.bookmarks-button {
  width: 135px;
  padding: 7px 0;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  box-shadow: none;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.buy-button:active {
  background-color: #518534;
  box-shadow: none;
}

.bookmarks-button:hover,
.bookmarks-button:focus {
  border: 3px solid #32425c;
}

.bookmarks-button:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #c1c6ce;
  outline: none;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 218px;
}

.goods-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.grey-price-button {
  min-height: 20px;
  margin-top: 11px;
  margin-bottom: 5px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
}

.red-price-button {
  position: relative;
  width: 136px;
  margin: 7px auto;
  margin-bottom: 19px;
  padding: 10px 28px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.red-price-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.invisible-price {
  color: #ffffff;
}

.manufacturers-catalog {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  padding: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

.manufacturers-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
}

.manufacturers-link:hover,
.manufacturers-link:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-link:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-link:active img {
  opacity: 0.3;
}

.manufacturers-link:first-of-type {
  padding-top: 3px;
}

.manufacturers-link:nth-of-type(4) {
  padding-bottom: 5px;
}

.manufacturers-link:nth-of-type(5) {
  padding-top: 9px;
  padding-left: 3px;
}

.manufacturers-link:nth-of-type(6) {
  padding-top: 3px;
}

.manufacturers-link:nth-of-type(7) {
  padding-top: 2px;
}

.manufacturers-link:last-of-type {
  padding-left: 2px;
}

.service {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f4f7f9;
}

.service h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.service-container {
  width: 400px;
  padding: 0;
  padding-top: 40px;
}

.service-slider-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.service-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  margin-top: 18px;
  padding: 0;
  list-style: none;
}

.service-list::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url("../image/line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-button {
  width: 240px;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 22px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  background-color:  #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  border: none;
}

.service-button:nth-of-type(2),
.service-button:nth-of-type(3) {
}

.service-button:hover,
.service-button:focus {
  color: #ffffff;
  background-color: #293449;
}

.service-button:active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.service-button-current {
  padding-top: 17px;
  padding-bottom: 17px;
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.slider-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 37px;
  padding-bottom: 99px;
}

.slider-delivery-list {
  display: flex;
  background-image: url("../image/delivery.png");
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position: bottom right;
}

.slider-delivery-list-none {
  display: none;
}

.slider-warranty-list {
  display: none;
  background-image: url("../image/warranty.png");
  background-repeat: no-repeat;
  background-size: 389px 283px;
  background-position: bottom right;
}

.slider-warranty-list-show {
  display: flex;
}

.slider-credit-list {
  display: none;
  background-image: url("../image/credit.png");
  background-repeat: no-repeat;
  background-size: 465px 285px;
  background-position: bottom right;
}

.slider-credit-list-show {
  display: flex;
}

.slider-list h3 {
  margin: 0;
  margin-top: 18px;
  margin-left: 80px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  text-align: left;
}

.service-delivery p {
  margin-top: 25px;
  margin-left: 80px;
  width: 275px;
}

.service-warranty p {
  margin-top: 25px;
  margin-left: 80px;
  width: 379px;
}

.service-credit p {
  margin-top: 25px;
  margin-bottom: -5px;
  margin-left: 80px;
  width: 279px;
}

.service-credit a {
  display: inline-block;
  vertical-align: baseline;
  width: 195px;
  margin-top: 31px;
  margin-left: 80px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff5357;
  border: none;
  border-radius: 3px;
}

.service-credit a:hover,
.service-credit a:focus {
  background-color: #ca2c37;
}

.service-credit a:active {
  background-color: #ba2732;
}

.about-company {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 86px;
  padding: 0;
  background-color: #ffffff;
}

.about-company h2 {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.about-company p {
  margin-bottom: 12px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  text-align: left;
}

.contacts-item p {
  display: block;
  width: 179px;
  margin-bottom: 31px;
}

.about-company-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 530px;
  margin-right: 121px;
}

.contacts-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.about-company ul {
  margin: 0;
  list-style: none;
}

.about-company li {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  margin-left: -4px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}

.about-company li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;
  width: 25px;
  height: 2px;
  background-image: url("../image/red-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-company a:not(.map-link) {
  display: inline-block;
  vertical-align: baseline;
  width: 220px;
  margin-top: 24px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.about-company a:hover:not(.map-link),
.about-company a:focus:not(.map-link) {
  background-color: #ca2c37;
}

.about-company a:active:not(.map-link) {
  background-color: #ba2732;
}

.contacts-item a:not(.map-link) {
  margin-top: 40px;
  padding-left: 5px;
  width: 300px;
  border-radius: 3px;
}

.map-link {
  display: block;
  width: 300px;
  height: 158px;
  margin: 0px;
  padding: 0px;
}

.catalog-position {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.catalog-position-nav {
  list-style: none;
  margin-top: 16px;
  margin-bottom: 17px;
  padding: 0;
}

.catalog-position-nav li {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding-left: 25px;
  padding-right: 15px;
}

.catalog-position-nav li:first-of-type {
  margin-left: 0;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
}

.catalog-position-nav a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.catalog-position h2 {
  margin: 0;
  margin-bottom: 22px;
  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  text-align: left;
  background-color: #f2f6f8;
}

.icon-home svg {
  position: relative;
  width: 14px;
  height: 12px;
}

.catalog-position-nav li:not(.icon-home)::before {
  content: "";
  position: absolute;
  top: 5px;;
  left: 0;
  width: 8px;
  height: 12px;
  background-image: url("../image/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-and-catalog-container {
  display: flex;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 220px;
  margin-right: 20px;
}

.filters-title {
  display: block;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters fieldset {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters fieldset:nth-of-type(2) {
  margin-top: 15px;
  border-bottom: none;
}

.filters fieldset:last-of-type {
  margin-top: 6px;
  border-bottom: none;
}

.filters-form legend {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.filter-range {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
}

.range-controls {
  position: relative;
  display: block;
  width: 220px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  position: relative;
  width: 152px;
  height: 2px;
  background-color: #5fbb2d;
}

.bar::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 20px;
  height: 23px;
  background-image: url("../image/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bar::after {
  content: "";
  position: absolute;
  top: -9px;
  right: -8px;
  width: 20px;
  height: 23px;
  background-image: url("../image/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin-bottom: 22px;
}

.price-controls p {
  display: inline-block;
  vertical-align: baseline;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}

.price-controls input {
  display: block;
  width: 95px;
  height: 38px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.manufacturers-filter-list,
.type-of-power-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  padding: 0;
  padding-top: 5px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-option {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.filter-option label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../image/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../image/checkbox-on.svg");
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  background-image: url("../image/checkbox-off-hover.svg");
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::before {
  background-image: url("../image/checkbox-off.svg");
  opacity: 0.3;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
  background-image: url("../image/checkbox-on-hover.svg");
}

.filter-input-checkbox:checked:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../image/checkbox-on.svg");
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../image/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.filter-input-radio:checked + label::before {
  background-image: url("../image/radio-on.svg");
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  background-image: url("../image/radio-off-hover.svg");
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::before {
  background-image: url("../image/radio-off.svg");
  opacity: 0.3;
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  background-image: url("../image/radio-on-hover.svg");
}

.filter-input-radio:checked:disabled + label::before,
.filter-input-radio:checked:disabled + label::before {
  background-image: url("../image/radio-on.svg");
  opacity: 0.3;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  display: block;
  margin-top: 43px;
  width: 140px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  border: 1px solid #ee3643;
  outline: none;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 700px;
}

.sorting-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  padding-right: 17px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting-section-title {
  display: block;
  width: 220px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item {
  display: inline-block;
  vertical-align: baseline;
  padding: 0;
  margin-right: 68px;
}

.sorting-item:nth-of-type(2) {
  margin-right: 62px;
}

.sorting-item:last-of-type {
  margin-right: 0;
}

.sorting-item a {
  display: inline-block;
  vertical-align: baseline;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-align: left;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #000000;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #ee3643;
}

.sorting-item-current a,
.sorting-item a:active {
  color: #ee3643;
  text-decoration: none;
}

.navigation-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 43px;
  margin: 0;
  margin-left: 45px;
  padding: 0;
}

.navigation path {
  fill: #c5c5c5;
}

.navigation:hover path,
.navigation:focus path {
  fill: #231F20;
}

.navigation:active path {
  fill: #ee3643;
}

.navigation-current path {
  fill: #ee3643;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: block;
  width: 38px;
  margin-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.text-page {
  width: 140px;
}

.pagination-item-current {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-item:hover,
.pagination-item:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item:active {
  border: 1px solid #ee3643;
}

.about-product {
  padding-top: 65px;
  padding-bottom: 68px;
  background-color: #f4f7f9;
}

.about-product h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.about-product p {
  width: 938px;
  margin: 0 auto;
}

.modal-basket {
  position: fixed;
  top: 120px;
  left: 50%;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 620px;
  margin-left: -310px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  z-index: 100;
}

.modal-basket-show {
  display: flex;
}

.product-in-basket {
  position: relative;
  padding-top: 35px;
  padding-bottom: 40px;
  padding-left: 179px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.product-in-basket::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../image/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.close-button {
  width: 21px;
  height: 21px;
  background-image: url("../image/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: none;
}

.modal-basket .close-button {
  position: absolute;
  top: 10px;
  right: 9px;
  cursor: pointer;
}

.basket-buy-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 620px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #f1f1f1;
}

.checkout {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 59px;
  padding-right: 62px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
}

.checkout:hover,
.checkout:focus {
  background-color: #ca2c37;
}

.checkout:active {
  background-color: #ba2732;
}

.continue-shopping {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 42px;
  padding-right: 46px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border-radius: 3px;
}

.continue-shopping:hover,
.continue-shopping:focus {
  color: #ffffff;
  background-color: #ca2c37;
}

.continue-shopping:active {
  color: #ffffff;
  background-color: #ba2732;
}

.modal-form {
  position: fixed;
  top: 120px;
  left: 50%;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 620px;
  margin-left: -310px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.modal-form-show {
  display: flex;
}

.letter-form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 31px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 26px;
}

.upper-letter-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  margin: 0;
}

.letter-label {
  display: block;
  margin-bottom: 9px;
  padding-top: 3px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.letter-input {
  display: block;
  width: 220px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 16px;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.letter-input:hover {
  border: 2px solid #b5b5b5;
}

.letter-input:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.letter-input-for-text {
  width: 460px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 85px;
  padding-left: 16px;
  text-align: left;
  border-radius: 3px;
}

.letter-label-for-text {
  margin-top: -9px;
  margin-bottom: 9px;
  padding-top: 3px;
}

.letter-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
  text-align: left;
}

.submit-form {
  display: block;
  width: 620px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #f4f4f4;
}

.submit-button {
  display: block;
  width: 460px;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #ca2c37;
}

.submit-button:active {
  background-color: #ba2732;
}

.modal-form .close-button {
  position: absolute;
  top: 10px;
  right: 9px;
  cursor: pointer;
}

.modal-map {
  position: fixed;
  top: 150px;
  left: 50%;
  display: none;
  width: 940px;
  height: 446px;
  margin-left: -470px;
  background-color: #e1e4e6;
  box-shadow: 0px 0px 25px 0 rgba(41, 52, 73, 0.5);
  z-index: 30;
}

.modal-map-show {
  display: block;
}

.modal-map .close-button {
  position: absolute;
  top: 9px;
  right: 9px;
  background-color: transparent;
  cursor: pointer;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #ffffff;
  background-color: #293449;
}

.footer-logo {
  position: absolute;
  left: 10px;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 18px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.upper-footer-container {
  margin: 0;
  padding: 0;
  background-color: #32425c;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.adress {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 327px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f3f7f9;
  text-align: left;
}

.adress p {
  margin-top: 96px;
  margin-bottom: 0;
  padding-left: 3px;
}

.adress a {
  margin-top: 0;
  margin-bottom: 49px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f3f7f9;
  text-decoration: none;
}

.telephone {
  margin: 0;
  padding-left: 3px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 547px;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 74px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.footer-navigation ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-catalog-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-site-nav li,
.footer-catalog-nav li {
  display: block;
}

.footer-catalog-nav li {
  margin-left: 59px;
}

.footer-catalog-nav li:first-of-type {
  margin-left: 0;
}

.footer-site-nav a {
  color: #f3f7f9;
}

.footer-catalog-nav a{
  color: #ffd180;
}

.footer-navigation a:hover:not(.telephone),
.footer-navigation a:focus:not(.telephone) {
  text-decoration: underline;
}

.footer-site-nav a:active:not(.telephone) {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-catalog-nav a:active:not(.telephone) {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.lower-footer-container {
  padding-top: 17px;
  padding-bottom: 30px;
  background-color: #293449;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright {
  width: 230px;
  padding: 0;
  padding-top: 4px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
}

.social-button-list {
  width: 145px;
  margin-left: 150px;
  margin-right: 100px;
  padding: 0;
  padding-top: 5px;
  padding-left: 4px;
}

.social li {
  display: inline-block;
  vertical-align: baseline;
  width: 42px;
  height: 42px;
  list-style: none;
}

.social-button {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.vk {
  background-image: url("../image/icon-vk.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: center;
}

.fb {
  background-image: url("../image/icon-fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: center;
}

.insta {
  background-image: url("../image/icon-insta.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
}

.social-button:hover,
.social-button:focus  {
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}

.vk {
  background-image: url("../image/icon-vk.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: center;
}

.fb {
  background-image: url("../image/icon-fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: center;
}

.insta {
  background-image: url("../image/icon-insta.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding-bottom: 2px;
}

.social-links-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 110px;
}

.social-links-container:first-of-type {
  width: 137px;
}

.social-links p {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
}

.social-links a {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffd180;
  text-align: left;
}

.social-links a:hover,
.social-links a:focus {
  text-decoration: underline;
}

.social-links a:active {
  color: #ee3643;
  text-decoration: none;
}
