body {
  width: 1200px;
  margin: auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 1200px;
  background-color: #f4f7f9;
}

.user-navigation {
  position: relative;
  width: 1200px;
  background-color: #293449;
}

.header-logo {
  position: absolute;
  left: 130px;
  width: 220px;
  height: 47px;
  padding-left: 55px;
  padding-top: 13px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.user-navigation a {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
}

.search-form {
  position: relative;
  display: inline-block;
  width: 270px;
  margin-left: 350px;
  background-color: #293449;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  background-image: url("../image/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search-form:hover::before {
  opacity: 1;
}

.search-form:active::before {
  opacity: 0.5;
}

/*
.search-input:active::before,
.search-input:focus::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  background-image: url("../image/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
*/

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 49px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
  background-color: #293449;
}

.search-input::placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:active,
.search-input:focus {
  color: #000000;
  background-color: #ffffff;
}

.bookmarks-link {
  position: relative;
  width: 150px;
  padding-left: 49px;
  padding-right: 20px;
}

.bookmarks-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../image/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-link:hover::before,
.bookmarks-link:focus::before {
  opacity: 1;
}

.bookmarks-link:active::before {
  opacity: 0.5;
}

.basket-link {
  position: relative;
  width: 150px;
  padding-left: 49px;
  padding-right: 20px;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url("../image/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket-link:hover::before,
.basket-link:focus::before {
  opacity: 1;
}

.basket-link:active::before {
  opacity: 0.5;
}

.basket-link-catalog {
  background-color: #ee3643;
}

.bookmarks-link:hover,
.bookmarks-link:focus,
.basket-link:hover,
.basket-link:focus {
  background-color: #212a3a;
}

.bookmarks-link:active,
.basket-link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.green-button {
  width: 150px;
  padding-left: 20px;
  background-color: #63a63e;
}

.green-button-catalog {
  margin-left: -3px;
}

.green-button:hover,
.green-button:focus {
  background-color: #5fbb2d;
}

.green-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.contacts-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0;
  width: 940px;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 43px;
}

.contacts-navigation p {
  margin-top: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  text-align: center;
}

.main-title {
  width: 197px;
  margin-top: 0;
  margin-left: 53px;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
  text-align: left;
}

.contacts-list {
  width: 270px;
}

.contacts-list a {
  position: relative;
  display: block;
  width: auto;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 74px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;
  text-align: left;
  border: 3px solid #ffffff;
  border-radius: 3px;
}

.contacts-list a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 19px;
  height: 19px;
  background-image: url("../image/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-button {
  display: flex;
  width: 281px;
  margin-top: 18px;
  padding-top: 0;
  list-style: none;
}

.enter-user-button {
  position: relative;
  width: 121px;
  box-sizing: border-box;
  margin-right: 10px;
  padding-left: 48px;
  padding-right: 27px;
  padding-top: 14px;
  padding-bottom: 11px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

.registration-user-button {
  width: 150px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

.enter-user-button:hover,
.enter-user-button:focus,
.registration-user-button:hover,
.registration-user-button:focus {
  color: #ee3643;
}

.enter-user-button:active,
.registration-user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.enter-user-button::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../image/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.enter-user-button:hover::before,
.enter-user-button:focus::before{
  background-image: url("../image/icon-login-black.svg");
}

.enter-user-button:active::before {
  background-image: url("../image/icon-login.svg")
}

.user-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-form {
  position: relative;
  width: 299px;
}

.user-input {
  width: 100%;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 47px;
  padding-right: 69px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

.user-input:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-form::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 20px;
  height: 18px;
  background-image: url("../image/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-form:hover::before,
.user-form:focus::before {
  background-image: url("../image/icon-user-black.svg");
}

.user-form:active::before {
  background-image: url("../image/icon-user.svg");
}

.user-form::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 12px;
  width: 20px;
  height: 17px;
  background-image: url("../image/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-form:hover::after,
.user-form:focus::after {
  background-image: url("../image/icon-logout-black.svg");
}

.user-form:active::after {
  background-image: url("../image/icon-logout.svg");
}

.user-page-link {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.user-page-link li:first-of-type {
  width: 80px;
  padding-left: 17px;
  padding-right: 8px;
  list-style: none;
}

.user-page-link li:last-of-type {
  padding-left: 0;
  width: 130px;
}

.user-page-link a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-align: left;
  text-decoration: underline;
  border: none;
}

.user-page-link a:hover,
.user-page-link a:focus {
  color: #ee3643;
}

.user-page-link a:active {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation {
  width: 940px;
  margin: 0 auto;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation-item {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 26px;
  padding-left: 31px;
  padding-right: 31px;
  color: #ffffff;
}

.site-navigation-item:hover {
  background-color: #293449;
}

.site-navigation-item:active,
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.site-navigation a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
}

.special-index-catalog {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
  margin-top: 53px;
  margin-bottom: 53px;
  background-color: #ffffff;
}

.upper-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.lower-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.lower-container-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.special-index-catalog-list {
  display: block;
  width: 300px;
  box-sizing: border-box;
  padding-left: 23px;
  padding-right: 43px;
  padding-bottom: 22px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}

.special-index-catalog-list:first-of-type {
  position: relative;
  background-image: url("../image/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 104px 65px;
  background-position: right;
  background-color: #ffbf47;
}

.special-index-catalog-list:first-of-type .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.special-index-catalog-list:first-of-type .flag-new {
  background-image: url("../image/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.special-index-catalog-list:nth-of-type(2) {
  background-image: url("../image/icon-2.svg");
  background-repeat: no-repeat;
  background-size: 105px 61px;
  background-position: right;
  background-color: #3bbce3;
}

.special-index-catalog-list:nth-of-type(3) {
  background-image: url("../image/icon-3.svg");
  background-repeat: no-repeat;
  background-size: 108px 62px;
  background-position: right;
  background-color: #dc91d8;
}

.lower-container-item .special-index-catalog-list:nth-of-type(1) {
  background-image: url("../image/icon-4.svg");
  background-repeat: no-repeat;
  background-size: 109px 72px;
  background-position: right;
  background-color: #8ed78f;
}

.lower-container-item .special-index-catalog-list:nth-of-type(2) {
  background-image: url("../image/icon-5.svg");
  background-repeat: no-repeat;
  background-size: 108px 63px;
  background-position: right;
  background-color: #ffc047;
}

.special-index-catalog-list a {
  display: inline-block;
  width: 135px;
  box-sizing: border-box;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 12px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.special-index-catalog-list a:hover,
.special-index-catalog-list a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.special-index-catalog-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.special-index-catalog-list p {
  margin: 0;
  margin-top: 20px;
}

.slider {
  position: relative;
  display: block;
  width: 620px;
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 22px;
  padding-left: 25px;
  padding-right: 20px;
  color: #ffffff;
}

.slider::before {
  content: "";
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  background-image: url("../image/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider::after {
  content: "";
  position: absolute;
  top: 114px;
  right: 20px;
  width: 22px;
  height: 40px;
  background-image: url("../image/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.drills p,
.perforators p {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
}

.drills .under-title,
.perforators .under-title {
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.slider a {
  display: inline-block;
  width: 195px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
}

.slider a:hover,
.slider a:focus {
  background-color: #ca2c37;
}

.slider a:active {
  background-color:#ba2732;
}

.drills {
  background-image: url("../image/drills.jpg");
  background-repeat: no-repeat;
  background-size: 620px 266px;
}

.perforators {
  display: none;
  background-image: url("../image/perforators.jpg");
  background-repeat: no-repeat;
  background-size: 620px 266px;
}

.popular-goods-header,
.popular-manufacturers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  background-color: #f9f5f0;
}

.popular-goods-header h2,
.popular-manufacturers-header h2 {
  padding-left: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  text-align: left;
}

.popular-goods-header a,
.popular-manufacturers-header a {
  display: inline-block;
  width: 253px;
  margin-right: 24px;
  padding-top: 14px;
  padding-bottom: 12px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-goods-header a:hover,
.popular-manufacturers-header a:hover,
.popular-goods-header a:focus,
.popular-manufacturers-header a:focus {
  background-color: #ca2c37;
}

.popular-goods-header a:active,
.popular-manufacturers-header a:active {
  background-color: #ba2732;
}

.index-catalog {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.index-catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
}

.catalog-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 700px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
}

.index-catalog-item,
.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-right: 16px;
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n):not(.index-catalog-item) {
  margin-right: 0;
}

.index-catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-list {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background-image: url("../image/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.buy-button,
.bookmarks-button {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 10px 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.bookmarks-button {
  width: 129px;
  padding: 7px 0;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  box-shadow: none;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.buy-button:active {
  background-color: #518534;
  box-shadow: none;
}

.bookmarks-button:hover,
.bookmarks-button:focus {
  border: 3px solid #32425c;
}

.bookmarks-button:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #c1c6ce;
  outline: none;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: auto;
}

.goods-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.grey-price-button {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-align: center;
  text-decoration: line-through;
}

.red-price-button {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
}

.red-price-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.invisible-price {
  color: #ffffff;
}

.manufacturers-catalog {
  width: 940px;
  margin: 0 auto;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.manufacturers-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 145px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

.manufacturers-item:hover,
.manufacturers-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item:active img {
  opacity: 0.3;
}

.service {
  display: flex;
  flex-direction: column;
  background-color: #f4f7f9;
}

.service h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.service-container {
  width: 398px;
  margin-left: 130px;
  padding-top: 68px;
  padding-bottom: 28px;
}

.service-slider-container {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
}

.service-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.service-list::after {
  content: "";
  position: absolute;
  top: -26px;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url("../image/line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-button {
  width: 240px;
  box-sizing: border-box;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 22px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  background-color:  #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  border: none;
}

.service-button:hover,
.service-button:focus {
  color: #ffffff;
  background-color: #293449;
}

.service-button:active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.service-button-current {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.slider-list {
  display: flex;
  width: 940px;
  padding-top: 46px;
  padding-bottom: 99px;
}

.slider-list:first-of-type {
  background-image: url("../image/delivery.png");
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position: bottom right;
}

.slider-list:nth-of-type(2) {
  display: none;
  background-image: url("../image/warranty.png");
  background-repeat: no-repeat;
  background-size: 389px 283px;
  background-position: bottom right;
}

.slider-list:last-of-type {
  display: none;
  background-image: url("../image/credit.png");
  background-repeat: no-repeat;
  background-size: 465px 285px;
  background-position: bottom right;
}

.slider-list h3 {
  margin: 0;
  margin-top: 18px;
  margin-left: 80px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  text-align: left;
}

.service-delivery p {
  margin-left: 80px;
  width: 275px;
}

.service-warranty p {
  margin-left: 80px;
  width: 379px;
}

.service-credit p {
  margin-bottom: 0;
  margin-left: 80px;
  width: 279px;
}

.service-credit a {
  display: inline-block;
  width: 195px;
  margin-top: 31px;
  margin-left: 80px;
  padding-top: 14px;
  padding-bottom: 12px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff5357;
  border: none;
  border-radius: 3px;
}

.service-credit a:hover,
.service-credit a:focus {
  background-color: #ca2c37;
}

.service-credit a:active {
  background-color: #ba2732;
}

.about-company {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-top: 82px;
  margin-bottom: 86px;
  padding: 0;
  background-color: #ffffff;
}

.about-company h2 {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.contacts-item h2 {
  margin-bottom: 0;
}

.about-company p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  text-align: left;
}

.contacts-item p {
  margin-bottom: 0;
}

.about-company-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 519px;
  margin-right: 121px;
}

.contacts-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.about-company ul {
  list-style-image: url("../image/red-line.png");
}

.about-company li {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}

.about-company a {
  display: inline-block;
  width: 220px;
  margin-top: 40px;
  padding-top: 14px;
  padding-bottom: 12px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.about-company a:hover,
.about-company a:focus {
  background-color: #ca2c37;
}

.about-company a:active {
  background-color: #ba2732;
}

.contacts-item a {
  width: 300px;
  border-radius: 3px;
}

.catalog-position {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
}

.catalog-position-nav {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
}

.catalog-position-nav li {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 15px;
}

.catalog-position-nav li:first-of-type {
  padding-right: 0;
}

.catalog-position-nav a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.catalog-position h2 {
  width: 940px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  text-align: left;
  background-color: #f2f6f8;
}

.icon-home {
  position: relative;
}

.icon-home::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -1px;
  width: 14px;
  height: 12px;
  background-image: url("../image/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-position-nav li:not(.icon-home)::before {
  content: "";
  position: absolute;
  top: 5px;;
  left: 0;
  width: 8px;
  height: 12px;
  background-image: url("../image/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-and-catalog-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 20px;
}

.filters-title {
  display: block;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters fieldset {
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters fieldset:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.filters-form legend {
  padding-top: 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.price-filter {
  padding: 0;
}

.filter-range {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.range-controls {
  position: relative;
  display: block;
  width: 220px;
  box-sizing: border-box;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7f3ec;
  margin-bottom: 9px;
  border-radius: 3px;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: #5fbb2d;
}

.range-controls .range-toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-controls .range-toggle-min {
  left: 20px;
}

.range-controls .range-toggle-max {
  left: 152px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.price-controls p {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}

.price-controls input {
  display: block;
  width: 95px;
  height: 38px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.manufacturers-filter-list,
.type-of-power-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.filter-option {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.filter-option label {
  position: relative;
  display: block;
  margin-bottom: 17px;
  padding-left: 35px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../image/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../image/checkbox-on.svg");
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  background-image: url("../image/checkbox-off-hover.svg");
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::before {
  background-image: url("../image/checkbox-off.svg");
  opacity: 0.3;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
  background-image: url("../image/checkbox-on-hover.svg");
}

.filter-input-checkbox:checked:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../image/checkbox-on.svg");
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../image/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.filter-input-radio:checked + label::before {
  background-image: url("../image/radio-on.svg");
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  background-image: url("../image/radio-off-hover.svg");
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::before {
  background-image: url("../image/radio-off.svg");
  opacity: 0.3;
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  background-image: url("../image/radio-on-hover.svg");
}

.filter-input-radio:checked:disabled + label::before,
.filter-input-radio:checked:disabled + label::before {
  background-image: url("../image/radio-on.svg");
  opacity: 0.3;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  display: block;
  margin: 0 auto;
  margin-top: 75px;
  width: 140px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  border: 1px solid #ee3643;
  outline: none;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.sorting-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 19px;
  padding-right: 17px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting-section-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  padding: 0;
  list-style: none;
}

.sorting-item {
  margin-right: 46px;
  display: inline-block;
}

.sorting-item a {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px dotted #ee3643;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-item-current a,
.sorting-item a:active {
  color: #ee3643;
  border-bottom: none;
}

.navigation-button {
  display: flex;
  justify-content: space-between;
  width: 43px;
  padding-top: 10px;
  padding-bottom: 9px;
}

.navigation path {
  fill: #c5c5c5;
}

.navigation:hover path,
.navigation:focus path {
  fill: #231F20;
}

.navigation:active path {
  fill: #ee3643;
}

.navigation-current path {
  fill: #ee3643;
}

.catalog-section {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.pagination-list {
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: inline-block;
  width: 38px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.pagination-item:nth-of-type(4) {
  width: 140px;
}

.pagination-item a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.pagination-item-current a {
  color: #ffffff;
}

.pagination-item-current {
  background-color: #ee3643;
}

.pagination-item:hover,
.pagination-item:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item:active {
  border: 1px solid #ee3643;
}

.about-product {
  width: 1200px;
  padding-top: 67px;
  padding-bottom: 73px;
  background-color: #f4f7f9;
}

.about-product h2 {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 130px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.about-product p {
  width: 938px;
  margin: 0 auto;
}

.modal-basket {
  display: none;
  width: 620px;
  height: 282px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.product-in-basket {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.basket-buy-buttons {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.checkout {
  width: 220px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
}

.checkout:hover,
.checkout:focus {
  background-color: #ca2c37;
}

.checkout:active {
  background-color: #ba2732;
}

.continue-shopping {
  width: 220px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

.continue-shopping:hover,
.continue-shopping:focus {
  color: #ffffff;
  background-color: #ca2c37;
}

.continue-shopping:active {
  color: #ffffff;
  background-color: #ba2732;
}

.close-button {
  width: 21px;
  height: 21px;
  background-image: url("../image/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: none;
}

.modal-form {
  display: none;
  width: 620px;
  height: 430px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.letter-label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.letter-input {
  width: 220px;
  height: 38px;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
}

.letter-input:hover {
  border: 2px solid #b5b5b5;
}

.letter-input:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.letter-input-for-text {
  width: 460px;
  height: 114px;
}

.letter-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
  text-align: left;
}

.submit-form {
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
}

.submit-button {
  width: 460px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border: none;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #ca2c37;
}

.submit-button:active {
  background-color: #ba2732;
}

.modal-login-form {
  display: none;
  width: 620px;
  height: 224px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.login-label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.login-input {
  width: 220px;
  height: 38px;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.login-input:hover {
  border: 2px solid #b5b5b5;
}

.login-input:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.login-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #999999;
  text-align: left;
}

.modal-map {
  display: none;
}

.main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  color: #ffffff;
  background-color:#32425c;
}

.footer-logo {
  position: absolute;
  left: 130px;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.upper-footer-container {
  display: flex;
  justify-content: space-between;
  padding-left: 130px;
  padding-right: 130px;
}

.adress {
  display: flex;
  flex-direction: column;
  width: 323px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f3f7f9;
  text-align: left;
}

.adress p {
  margin-top: 100px;
  margin-bottom: 0;
}

.adress a {
  margin-top: 0;
  margin-bottom: 53px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f3f7f9;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.footer-navigation ul {
  list-style: none;
}

.footer-site-nav {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin-top: 42px;
}

.footer-catalog-nav {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin-bottom: 76px;
}

.footer-site-nav li,
.footer-catalog-nav li {
  margin-left: 60px;
}

.footer-site-nav a {
  color: #f3f7f9;
}

.footer-catalog-nav a{
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-site-nav a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-catalog-nav a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.lower-footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 35px;
  background-color: #293449;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.social p {
  width: 227px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
}

.social-button-list {
  width: 134px;
  margin-left: 162px;
  margin-right: 119px;
  padding: 0;
}

.social li {
  display: inline-block;
  width: 42px;
  height: 42px;
  list-style: none;
  background-color: #212a3a;
  border-radius: 50%;
}

.social li:hover,
.social li:focus {
  background-color: #ee3643;
}

.social li:active {
  background-color: #ee3643;
}

.social li:first-of-type {
  background-image: url("../image/icon-vk.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: center;
}

.social li:nth-of-type(2) {
  background-image: url("../image/icon-fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: center;
}

.social li:last-of-type {
  background-image: url("../image/icon-insta.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: center;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 284px;
}

.social-links-container {
  display: flex;
  flex-direction: column;
  width: 96px;
}

.social-links-container:first-of-type {
  width: 135px;
}

.social-links p {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
}

.social-links a {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffd180;
  text-align: left;
}

.social-links a:hover,
.social-links a:focus {
  text-decoration: underline;
}

.social-links a:active {
  color: #ee3643;
  text-decoration: none;
}
